<!DOCTYPE html>
<html>

<head>
    <title>Roux Meetups--Speakers</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
        integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <link rel='stylesheet' href='/css/style.css' />
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Slab' rel='stylesheet' type='text/css'>

</head>

<body id="speakerList">
    <header>
        <div class="jumbotron hidden-xs">
        </div><!-- jumbotron -->



        <nav class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">

                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#navbar-collapse" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a href="/" class="navbar-brand">Roux Meetups</a>
                </div>
                <div class="collapse navbar-collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/">Home</a></li>
                        <li><a href="/speakers" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                aria-haspopup="true" aria-expanded="false">Speakers <span class="caret"><span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/speakers">All Speakers</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="/speakers/Lorenzo_Garcia">Lorenzo Garcia</a></li>

                                <li><a href="/speakers/Hillary_Goldwynn">Hilary Goldywynn Post</a></li>

                                <li><a href="/speakers/Riley_Rewington">Riley Rudolph Rewington</a></li>
                            </ul>
                        </li>
                        <li><a href="/feedback">Feedback</a></li>
                        <li><a href="/chat">Chat</a></li>
                    </ul><!-- nav -->
                </div><!-- navbar-collapse -->
            </div><!-- container -->
        </nav>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <article class="speakerslist ">
                    <div class="container">
                        <div class="row">

                            <% speakers.forEach(speakerObj => { %>
                             
                            
                            <div class="col-sm-8 ">
                                <h3 class="speakerslist-title"><%= speakerObj.title %> </h3>
                                <h5 class="speakerslist-name">with <a href="/speakers/<%= speakerObj.shortname %> "><%= speakerObj.name %> </a>
                                </h5>
                                <p class="speakerslist-info">
                                    <a href="/speakers/<%= speakerObj.shortname %> ">




                                        <img class="speakerslist-img img-circle pull-left"
                                            src="/images/speakers/<%= speakerObj.shortname %>_tn.jpg"     
                                            alt="Photo of <%= speakerObj.name %> "></a>

                                    </a>


                                    </a>



                                    <%= speakerObj.summary %> 


                                </p>
                            </div>

                            <% }) %>

                        </div><!-- row -->
                    </div><!-- container -->
                </article>
            </div><!-- primary -->
            <aside class="col-sm-4">
                <article class="sidebar">
                    <h1 class="sidebar-title">Artwork on display</h1>
                    <p class="sidebar-body">While you attend the conference, head over to our gallery where you can
                        check out some of the work from our speakers.</p>
                    <div class="pixgrid clearfix">
                        
                        <% artwork.forEach(image => { %>
                          <img src="/images/artwork/<%= image %> " alt="">
                         
                        <% }) %>
                    </div>
                </article>
            </aside><!-- secondary -->
        </div>
    </div><!-- container -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>


    <script src="/js/pixgrid.js"></script>


    <script src="/js/chat.js"></script>
    <!-- <script src="/reload/reload.js"></script> -->

</body>

</html>